<IfModule mod_rewrite.c>

    AddDefaultCharset utf-8
    Options -Indexes
    Options +FollowSymLinks
    RewriteEngine on
    RewriteBase /
    RewriteCond $1 !^(index\.php|assets|robots\.txt|favicon\.ico|sitemap\.xml)

    # Send request via index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php?/$1 [L,QSA]

</IfModule>